<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>404</title>
</head>

<body>
    {{!-- Using HBS package, doubld brakets inserts data
    where > pulls from other HTML/HBS sheets and double brakets alone pulls from the data
    passed in the app.js file objects --}}
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
</body>

</html>