<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    {{!-- Using HBS package, doubld brakets inserts data
    where > pulls from other HTML/HBS sheets and double brakets alone pulls from the data
    passed in the app.js file objects --}}
    <div class="main-content">
        {{>header}}
        <p>This site was created by Kaia Bryant. <br> It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    {{>footer}}
</body>

</html>