<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

{{!-- Using HBS package, doubld brakets inserts data
where > pulls from other HTML/HBS sheets and double brakets alone pulls from the data
passed in the app.js file objects --}}

<body>
    <div class="main-content">
        {{>header}}


        <p id="welcome-msg">Enter your city for current weather conditions</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>